:root {
    --bg: #0d1117;
    --card: #171d27;
    --border: #30363d;
    --accent: #232a86;
    --text: #c9d1d9;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 20px;
}

#profile-card {
    background: radial-gradient(
        circle at top,
        rgba(35, 134, 54, 0.15),
        transparent 60%),
        var(--card);
    text-align: center;
}

.avatar-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--accent);
    box-shadow: 0 0 0 4px rgba(35,134,54,0.2),
    0 0 30px rgba(35,134,54,0.4);
}

.main-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "community projects";
    gap: 20px;
    align-items: start;
}


#followers-list {
    display: flex;
    flex-direction: column;
}

.community-user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.community-user:hover {
    background: rgba(28, 71, 134, 0.507);
    transform: scale(1.1);
}

.community-user span {
    color: var(--text);
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}

.repo-card {
    background: var(--card);
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: 8px;
}

.repo-card:hover {
    border-color: var(--accent);
}

.follower-img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
}

/* Layout principal */
.main-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

#community {
    grid-area: community;
    font-size: 1.2rem;
    opacity: 0.85;
    backdrop-filter: blur(6px);
    box-shadow: inset 0 0 0 1px var(--border);
}

#community h3::after {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(to right, var(--accent), transparent);
    margin-top: 8px;
}

#projects {
    grid-area: projects;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#followers-list a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
}

#followers-list a:hover {
    background: rgba(35, 134, 54, 0.12);
}

#followers-list span {
    color: var(--text);
    font-weight: 500;
}

.main-layout:hover .repo-card {
    opacity: 0.6;
}

.repo-card:hover {
    opacity: 1;
}

h2, h3 {
    letter-spacing: 0.5px;
}
@media (max-width: 768px) {
    .main-layout {
        grid-template-columns: 1fr;
        grid-template-areas:
            "community"
            "projects";
    }
}