body{
    background: #FFF1F5;
    font-family: 'Playfair Display', serif;
    color: #333;
}

h1 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #4A2C3A;
    letter-spacing: 1px;
}

.Buscador input{
    width: 500px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #c7d2fe;
    outline: none;
    transition: box-shadow 0.3s ease;
    margin: 25px 25px 25px 25px;
    text-align: center;
    align-self: center;

}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.producto-card {
    background: #FADADD;
    width: 230px;
    padding: 18px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 12px 30px rgba(244, 143, 177, 0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.producto-card:hover {
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
    transition: all 0.3s ease;
    background: #F6C1D1;
}

.producto-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 12px;
}

.producto-card h3,
.producto-card .titulo {
    font-size: 16px;
    margin-bottom: 8px;
    color: #5A3A46;
    font-weight: 500;
}

.producto-card .precio {
    font-size: 18px;
    font-weight: bold;
    color: #F48FB1;
    margin-bottom: 5px;
    font-weight: 600;
}

.producto-card .categoria {
    font-size: 13px;
    color: #9A6B7F;
}

.producto-card .rating {
    margin-top: 5px;
    color: #f39c12;
}

.ContenedorProductoDetalle{
    background: #F6C1D1;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    text-align: center;
}

.imagen-grande {
    width: 100%;
    max-width: 400px;
    border: 2px solid #F48FB1;
    margin: 20px 0;
}

.comentarios-seccion {
    text-align: left;
    margin-top: 20px;
    border-top: 2px solid #eee;
    padding-top: 10px;
}

.comentario-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.boton-regresar {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: rgb(216, 14, 165);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}