* Estilos básicos para el formulario de alta */
body {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
    display:grid;
    flex-direction:column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1e293b;
}

.form-group input, .form-group select, .form-group textarea {
    padding: 0.8rem;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1rem;
}

.btn-regresar {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #0fa30f;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.btn-regresar:hover {
    background-color: #086d05;
}
#mensaje-exito {
    display: none; /* Se mantiene oculto inicialmente */
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family:'Times New Roman';
    animation: fadeIn 0.5s ease-in-out;
}

#mensaje-exito strong {
    color: #1e7e34;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
}

.info-producto {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}