body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background: #f4f6f8;
}

.topbar {
    display: flex;
    gap: 10px;
    padding: 15px;
    background: #1f2937;
}

.topbar input {
    flex: 1;
    padding: 8px;
}
.topbar button{
    color: #0fa30f;
}

.btn-primary, .topbar button {
    background: #3b82f6;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.filters {
    display: flex;
    gap: 15px;
    padding: 15px;
    background: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

img {
    width: 50px;
}

.pagination {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
